<!DOCTYPE html>

<head>
	<title>Homepage</title>
	<style>
		.bg-red {
			background-color: lightslategray;
		}

		.bg-green {
			background-color: lightgreen;
		}

		a {
			text-decoration: none;
			color: #000;
		}
	</style>
</head>

<body>
	<h1>Available products:</h1>
	<table>
		<thead>
			<th>SN</th>
			<th>Name</th>
			<th>Price</th>
			<th>Actions</th>
		</thead>
		<tbody>

			<!--
			pStat.count : 1,2,3, ...
			pStat.odd : true/false
			pStat.even : true/false
			pStat.first : true/false
			pStat.last : true/false
			pStat.size : size of array
			pStat.index : 0,1,2, ...
			-->

			<tr th:each="p : ${products}" th:classappend="|${pStat.odd ? 'bg-red' : ''}
				${forUpdate && product.id == p.id ? 'bg-green': ''}|">
				<td th:text="${pStat.count}"></td>
				<td th:text="${p.name}"></td>
				<td th:text="${p.price}"></td>
				<td>
					<a th:href="@{/products/edit/{name}(name=${p.name})}">✎</a>
				</td>
			</tr>

		</tbody>
	</table>

	<form action="/product" method="POST" th:object="${product}">
		Name:
		<input type="text" th:field="*{name}" />
		Price:
		<input type="number" name="price" th:field="*{price}" />
		<input th:if="${forUpdate}" type="hidden" name="id" th:value="${product.id}" />
		<input type="submit" th:value="${forUpdate ? 'UPDATE' : 'ADD'}" />
	</form>
</body>

</html>