<!-- 
TASK: create a table of computer accessories available for purchase as follows:

Name		Price
Mouse		950
USB Headset	2700
Laptop		128000
...
* Create a class to store info about each product
-->
<!DOCTYPE html>

<head>
	<title>Homepage</title>
</head>

<body>
	<h1>Available products:</h1>
	<table>
		<thead>
			<th>SN</th>
			<th>Name</th>
			<th>Price</th>
		</thead>
		<tbody>
			<tr>
				<td>1.</td>
				<td>Mouse</td>
				<td>950</td>
			</tr>
			<tr>
				<td>2.</td>
				<td>USB Headset</td>
				<td>2700</td>
			</tr>
			<tr>
				<td>3.</td>
				<td>Laptop</td>
				<td>128000</td>
			</tr>
		</tbody>
	</table>
</body>

</html>
